.CallToAction {
    background-color: #eeeeee;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CallToAction_text {
    margin: 0 auto;
    width: 80%;
    padding: 15px 0px;
    line-height: 1.5;
    font-size: 17px;
    font-weight: lighter;
}

.CallToAction_buttonContainer {
    margin-top: 20px;
}