.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100px;
}

.Header_logo {
    border-right: 1px solid lightgrey;
    width: 330px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Header_logo_img {
    box-sizing: border-box;
    width: 100%;
    padding: 25px;
}

.Header_navigation {
    width: 100%;
}

.Header_navigation_viewOptions {
    border-bottom: 1px solid lightgrey;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 12px;
}

.Header_navigation_viewOptions_option {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0px 20px;
}

.Header_navigation_viewOptions_option_label {
    margin-right: 5px;
}

.Header_navigation_viewOptions_option_accessibility {
    border: 1px solid lightgrey;
    padding: 1px 3px;
    margin: 1px;
    color: #363d8c;
    font-weight: bold;
}

.Header_navigation_viewOptions_option_accessibility___decrease {
    background-color: black;
    color: yellow;
}

.Header_navigation_viewOptions_option___backgroundGreen {
    background-color: #14a65b;
    color: white;
}

.Header_navigation_viewOptions_option_call {
    margin: 0px 10px;
}

.Header_navigation_list {
    box-sizing: border-box;
    width: 100%;
    height: 70px;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}

.Header_navigation_list_listItem {
    padding: 15px;
    margin: 20px;
    font-weight: 500;
}