.Footer {
    background-color: #43484d;
    height: 270px;
    display: flex;
    justify-content: center;
}

.Footer_container {
    display: flex;
    width: 90%;
    height: 180px;
    margin-top: 60px;
}

.Footer_container_logo {
    width: 50%;
    height: 50%;
}

.Footer_container_logo_img {
    width: 40%;
}

.Footer_container_logo_text {
    color: lightgray;
    opacity: 0.7;
    margin-left: 4px;
    width: 80%;
    font-size: 14px;
}

.Footer_container_links {
    width: 50%;
}

.Footer_container_links_list {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    margin: 0;
    padding: 0;
    padding-left: 100px;
}

.Footer_container_links_list_item {
    font-weight: 500;
    padding: 10px 10px;
    width: 160px;
    color: white;
}

.Form {
    height: 240px;
    width: 100%;
    background-color: #eeeeee;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.Form_container {
    background-color: white;
    width: 500px;
    height: 190px;
    margin-right: 30px;
    box-sizing: border-box;
    padding: 5px 20px;
}

.p {
    padding:0;
    margin:0;
}

.Form_container_input {
    padding: 10px;
    margin: 0px 2px;
    border-radius: 2px;
    border: 1px solid transparent;
    background-color: #eeeeee;
    color: grey;
    font-size: 14px;
}

.Form_container_button {
    background-color: #016cbd;
    border: none;
    color: white;
    padding: 10px 10px;
    margin-left: 4px;
    border-radius: 2px;
    text-decoration: none;
    font-size: 16px;
}

@media only screen and (max-width: 1023px) {
    .Footer {
        height: auto;
    }

    .Footer_container {
        margin-top: 10px;
    }
    
    .Footer_container_logo {
        display: none
    }

    .Footer_container_links {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    .Footer_container_links_list {
        padding-left: 0px;
    }

    .Footer_container_links_list_item{
        width: auto;
    }

    .Form {
        justify-content: center;
    }

    .Form_container {
        margin-right: 0px;
    }
}

@media only screen and (max-width: 520px) {
    .Form {
        height: auto;
    }
    .Form_container {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .Form_container_input, .Form_container_button {
        margin: 10px 0px;
    }
}