.DescriptionContainer {
    background-color: rgb(255,255,255, 0.8);
    width: 380px;
    position: absolute;
    top: 50%;
    left: 150px;
    margin-top: -180px;
    box-sizing: border-box;
    padding: 30px 35px;
}

.DescriptionContainer_heading {
    font-weight: bold;
    font-size: 35px;
    letter-spacing: 1px;
}

.DescriptionContainer_textContent {
    line-height: 1.5;
}